<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental At Zoomcar Avail special offers on booking self drive cars</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="../Landingpage/index.css">
    <link rel="stylesheet" href="Offers.css">
    <link rel="stylesheet" href="../checkout/checkout.css">
    
    <script src="https://kit.fontawesome.com/15707e82f8.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://assets.zoomcar.com/assets/favicon-94c70086866938b66cbd6706cfb6e048.png"
        type="image/x-icon">
</head>
<body>
    <div id="offers">
        <nav id="navbar">
            <div id="logo">
                <a href="../Homepage-main.html"><img src="../img/logo-f38397447048ccba047af6980364e92e.svg"
                        alt="Zoom_Car" /></a>
            </div>
            <ul id="nav_ul">
                <li class="item hov">
                    <a href="#">SUBSCRIPTION</a>
                    <div class="details" id="sub_det_item">
                        <div class="arrowmiddle"></div>
                        <div class="subscr_detail">
                            <span class="subscr-logo1"></span>
                            <p>Hassle-free way of getting your personal car for flexible long term duration. You also have
                                an option
                                to share your car with other Zoomcar customers &amp; save up to 70% of the monthly
                                subscription fee.
                            </p>
                            <button class="subscr_btn">KNOW MORE</button>
                        </div>
                    </div>
                </li>
                <li class="item"><a href="#">AMIGO</a>
                    <div class="details2">
                        <div class="arrowmiddle2"></div>
                        <div class="amigo_detail">
                            <span class="amigo-logo2"></span>
                            <p>A unique Community Vehicle Pooling program that allows you to share your car with your
                                community and
                                friends while the car not in use and earn money.</p>
                            <button class="subscr_btn">KNOW MORE</button>
                        </div>
                    </div>
                </li>
                <li class="item"><a href="#">ZMS</a>
                    <div class="details3">
                        <div class="arrowmiddle3"></div>
                        <div class="zms_detail">
                            <span class="zms-logo3"></span>
                            <p>Connected technology offerings and shared mobility solutions for businesses worldwide.</p>
                            <button class="subscr_btn">KNOW MORE</button>
                        </div>
                    </div>
                </li>
                <li class="item mob_wid"><a href="#">MOBILE APP
                        <div class="mob_det">
                            <div class="arrowmiddle4"></div>
                            <div class="details4">
                                <a href="https://play.google.com/store/apps/details?id=com.zoomcar&referrer=utm_source%3Dhome%2520page%26utm_medium%3Dheader%2520links%26utm_content%3Dandroid%26utm_campaign%3Dinstalls"
                                    class="mob_anc">
                                    <div class="mob1">
                                        <img src="../img/g_play_logo2.png" alt="">Google Play
                                    </div>
                                </a>
                                <a href="https://apps.apple.com/us/app/zoomcar-self-drive-cars/id889910218?utm_campaign=installs&utm_content=iOS&utm_medium=header%20links&utm_source=home%20page"
                                    class="mob_anc">
                                    <div class="mob2"><img src="../img/apple_log.png" alt="">Apple Store</div>
                                </a>
                            </div>
                        </div>
    
                </li>
                <li class="item" id="signup_btn"><a href="#">SIGNUP</a></li>
                <li class="item" id="login_btn"><a href="#">LOGIN</a></li>
    
            </ul>
        </nav>
    </div>
    <br>
    <div id="offerstitlediv">
        <p id="offerstitle"></p>
    </div>
    <br>
    <div id="promocodedetaisdiv">
        <div>
            <img src="https://cdn.grabon.in/gograbon/images/web-images/uploads/1618558813258/zoomcar-coupons.jpg" alt="">
            <span class="left-float">Promo Code:</span>
            <span class="left-float bold-text-font"> MASAI25</span>
            <span class="right-float bold-text-font"> 31 Jul, 2021</span>
            <span class="right-float">Validity:</span>
        </div>
        <div>
            <img src="https://www.peoplewala.in/wp-content/uploads/2020/12/zoomcar-banner-min.jpg" alt="">
            <span class="left-float">Promo Code:</span>
            <span class="left-float bold-text-font"> FTWEB10</span>
            <span class="right-float bold-text-font"> 31 Dec, 2021</span>
            <span class="right-float">Validity:</span>
            
        </div>
        <div>
            <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/3a036b7e841c0da948fa7cf23d649bc050a12644.png?1543229981" alt="">
            <span class="left-float" >Promo Code:</span>
            <span class="left-float bold-text-font" > ALMCARD1500</span>
            <span class="right-float bold-text-font" > 31 Mar, 2022</span>
            <span class="right-float">Validity:</span>
            
        </div>
        <div>
            <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/9597c84fdf092c851cbfca5dd03c63bbda3915a8.jpg?1618388121" alt="">
            <span class="left-float">Promo Code:</span>
            <span class="left-float bold-text-font"> ALZOOMFIT</span>
            <span class="right-float bold-text-font"> 31 Jul, 2021</span>
            <span class="right-float" >Validity:</span>
            
        </div>
    </div>
    <br>
    <div id="ending">
    <div class="footer">
        <div class="Button">
            <button id="1" onmouseover="changeColor(1)" onmouseout="initial(1)"><a class="link" href=""><img
                        src="../Landingpage/img/Question logo.svg" alt="How Zoomcar works" width="50px" height="50px"
                        data-src="../Landingpage/img/zc-works.2adcbe18edb84c7c1fdf0c8d6c894f8b.svg"
                        src="../Landingpage/img/zc-works.2adcbe18edb84c7c1fdf0c8d6c894f8b.svg">
                </a>
                <p id="p1">How zoomcar works?</p>
            </button>
            <button id="2" onmouseover="changeColor(2)" onmouseout="initial(2)"><a class="link" href=""><img
                        src="../Landingpage/img/policies.svg" alt="How Zoomcar Policies" width="50px" height="50px"
                        data-src="../Landingpage/img/policies.ceddb15a4eef16af85ba8666b1522741.svg"
                        src="../Landingpage/img/policies.ceddb15a4eef16af85ba8666b1522741.svg">
                </a>
                <p id="p2">Policies</p>
            </button>
            <button id="3" onmouseover="changeColor(3)" onmouseout="initial(3)"><a class="link" href=""><img
                        src="../Landingpage/img/help-support.svg" alt="Help Support" width="50px" height="50px"
                        data-src="../Landingpage/img/help-support.acf244c0683e201bd2d978f1ddc5d33d.svg"
                        src="../Landingpage/img/help-support.acf244c0683e201bd2d978f1ddc5d33d.svg">
                </a>
                <p id="p3">Help Support</p>
            </button>
            <button id="4" onmouseover="changeColor(4)" onmouseout="initial(4)"><a class="link" href=""><img
                        src="../Landingpage/img/safety.svg" alt="Zoom Safety" width="50px" height="50px"
                        data-src="../Landingpage/img/safety.127607759cd86e3d75f5698a641d5b83.svg"
                        src="../Landingpage/img/safety.127607759cd86e3d75f5698a641d5b83.svg">
                </a>
                <p id="p4">Zoom in Safety</p>
            </button>
    
        </div>
    
        <h4>About Us</h4>
        <div class="aboutus">
            <div><a href="https://www.zoomcar.com/about">Zoomcar Team</a></div>
            <div><a href="https://www.zoomcar.com/zap/subscribe">Zoomcar Subscription</div></a>
            <div><a href="https://www.zoomcar.com/blog/">Zoomcar Blog</a></div>
            <div><a href="https://www.zoomcar.com/careers">Careers @ Zoomcar</a></div>
            <div><a href="https://www.zoomcar.com/location">Locations & Cars</a></div>
            <div><a href="https://www.zoomcar.com/mumbai/">Self Drive Cars</a></div>
            <div><a
                    href="https://info.ourcrowd.com/zoomcar/?utm_source=zoomcar&utm_medium=website&utm_campaign=invest_button">Invest
                    via OurCrowd</a></div>
        </div>
        <h4>Cities</h4>
        <div class="cities">
            <div class="help"><a href="https://www.zoomcar.com/bangalore/">Self drive cars in Bangalore</a></div>
            <div class="help"><a href="https://www.zoomcar.com/pune/">Self drive cars in Pune</a></div>
            <div class="help"><a href="https://www.zoomcar.com/delhi/">Self drive cars in Delhi </a></div>
            <div class="help"><a href="https://www.zoomcar.com/mumbai/">Self drive cars in Mumbai</a></div>
            <div class="help"><a href="https://www.zoomcar.com/chennai/">Self drive cars in Chennai </a></div>
            <div class="help"><a href="https://www.zoomcar.com/hyderabad/">Self drive cars in Hyderabad</a></div>
            <div class="help"><a href="https://www.zoomcar.com/chandigarh/">Self drive cars in Chandigarh</a></div>
            <div class="help"><a href="https://www.zoomcar.com/kolkata/">Self drive cars in Kolkata </a></div>
            <div class="help"><a href="https://www.zoomcar.com/ahmedabad/">Self drive cars in Ahmedabad</a></div>
            <div class="help"><a href="https://www.zoomcar.com/coimbatore/">Self drive cars in Coimbatore</a></div>
            <div class="help"><a href="https://www.zoomcar.com/indore/">Self drive cars in Indore</a></div>
            <div class="help"><a href="https://www.zoomcar.com/jaipur/">Self drive cars in Jaipur</a></div>
            <div class="help"><a href="https://www.zoomcar.com/ludhiana/">Self drive cars in Ludhiana</a></div>
            <div class="help"><a href="https://www.zoomcar.com/mangalore/">Self drive cars in Mangalore-Manipal</a></div>
            <div class="help"><a href="https://www.zoomcar.com/mysore/">Self drive cars in Mysore</a></div>
            <div class="help"><a href="https://www.zoomcar.com/vizag/">Self drive cars in Vizag</a></div>
            <div class="help"><a href="https://www.zoomcar.com/nagpur/">Self drive cars in Nagpur</a></div>
            <div class="help"><a href="https://www.zoomcar.com/kochi/">Self drive cars in Kochi</a></div>
            <div class="help"><a href="https://www.zoomcar.com/udaipur/">Self drive cars in Udaipur</a></div>
            <div class="help"><a href="https://www.zoomcar.com/vijayawada/">Self drive cars in Vijayawada</a></div>
            <div class="help"><a href="https://www.zoomcar.com/surat/">Self drive cars in Surat</a></div>
            <div class="help"><a href="https://www.zoomcar.com/siliguri/">Self drive cars in Siliguri</a></div>
            <div class="help"><a href="https://www.zoomcar.com/lucknow/">Self drive cars in Lucknow </a></div>
            <div class="help"><a href="https://www.zoomcar.com/guwahati/">Self drive cars in Guwahati</a></div>
            <div class="help"><a href="https://www.zoomcar.com/bhubaneswar/">Self drive cars in Bhubaneswar</a></div>
            <div class="help"><a href="https://www.zoomcar.com/hassan/">Self drive cars in Hassan</a></div>
            <div class="help"><a href="https://www.zoomcar.com/vadodara/">Self drive cars in Vadodara</a></div>
            <div class="help"><a href="https://www.zoomcar.com/trivandrum/">Self drive cars in Trivandrum</a></div>
        </div>
    
        <h4>Airport Services</h4>
        <div class="airport">
            <div><a href="https://www.zoomcar.com/bangalore/airport-taxi-service">Car rental from Bangalore Airport</a>
            </div>
            <div><a href="https://www.zoomcar.com/pune/airport-taxi-service">Car rental from Pune Airport</a></div>
            <div><a href="https://www.zoomcar.com/delhi/airport-taxi-service">Car rental from Delhi Airport</a></div>
            <div><a href="https://www.zoomcar.com/mumbai/airport-taxi-service">Car rental from Mumbai Airport</a></div>
            <div><a href="https://www.zoomcar.com/chennai/airport-taxi-service">Car rental from Chennai Airport</a></div>
            <div><a href="https://www.zoomcar.com/hyderabad/airport-taxi-service">Car rental from Hyderabad Airport</a>
            </div>
            <div><a href="https://www.zoomcar.com/chandigarh/airport-taxi-service">Car rental from Chandigarh Airport</a>
            </div>
            <div><a href="https://www.zoomcar.com/kolkata/airport-taxi-service">Car rental from Kolkata Airport</a></div>
            <div><a href="https://www.zoomcar.com/ahmedabad/airport-taxi-service">Car rental from Ahmedabad Airport</a>
            </div>
            <div><a href="https://www.zoomcar.com/coimbatore/airport-taxi-service">Car rental from Coimbatore Airport</a>
            </div>
            <div><a href="https://www.zoomcar.com/indore/airport-taxi-service">Car rental from Indore Airport</a></div>
            <div><a href="https://www.zoomcar.com/jaipur/airport-taxi-service">Car rental from Jaipur Airport</a></div>
            <div><a href="https://www.zoomcar.com/vizag/airport-taxi-service">Car rental from Vizag Airport</a></div>
            <div><a href="https://www.zoomcar.com/udaipur/airport-taxi-service">Car rental from Udaipur Airport</a></div>
            <div><a href="https://www.zoomcar.com/surat/airport-taxi-service">Car rental from Surat Airport</a></div>
            <div><a href="https://www.zoomcar.com/lucknow/airport-taxi-service">Car rental from Lucknow Airport</a></div>
            <div><a href="https://www.zoomcar.com/guwahati/airport-taxi-service">Car rental from Guwahati Airport</a></div>
        </div>
    
        <hr>
        </hr>
        <div class="address">
            <h4>Let's Keep in Touch</h4>
            <p>7th Floor, Tower-B, Diamond District, 150, HAL Airport Road, Kodihalli, Bangalore – 560008</p>
            <div class="social">
                <a class="link" href="https://www.facebook.com/zoomcar.in?ref=hl" rel="nofollow" target="_blank"
                    title="Connect with us on Facebook!">
                    <img src="../Landingpage/img/FB logo.svg" alt="zoomcar-facebook"
                        data-src="../Landingpage/img/FB.71c8c954ebf0a73be3a2fa723bd62747.svg"></a>
                <a class="link" href="https://twitter.com/ZoomCarIndia" rel="nofollow" target="_blank"
                    title="Follow us on Twitter!">
                    <img src="../Landingpage/img/Twitter.svg" alt="zoomcar-twitter" class="lazy-img"
                        data-src="../Landingpage/img/Twitter_2.1fcd40979beb7132d30c04e19c76deab.svg"></a>
                <a class="link" href="https://www.instagram.com/zoomcar_india/" rel="nofollow" target="_blank"
                    title="Follow us on Instagram!">
                    <img src="../Landingpage/img/Instagram logo.svg" alt="zoomcar-instagram"
                        data-src="../Landingpage/img/Insta.aa7386bfed43a8acf0551e8c276b559f.svg"></a>
                <a class="link" href="https://www.youtube.com/channel/UCIX42GaSQ6S_1RMwNfO-DYA/" rel="nofollow"
                    target="_blank" title="Youtube"><img src="../Landingpage/img/Youtube.svg" alt="zoomcar-twitter" class="lazy-img"
                        data-src="../Landingpage/img/Youtube.44df3b5bfd3ac80cf0d292928e29dd89.svg"></a>
                <a class="link" href="https://www.zoomcar.com/blog/" rel="nofollow" target="_blank"
                    title="Catch up with us on our Blog!">
                    <img src="../Landingpage/img/Blog.svg" alt="zoomcar-blog"
                        data-src="../Landingpage/img/Blog_2.d0a034e8ec8e3ba6897a6d3b3de13e27.svg"></a>
                <a class="link" href="https://in.linkedin.com/company/zoomcar-india-pvt-ltd-" rel="nofollow" target="_blank"
                    title="Follow us on LinkedIn!">
                    <img src="../Landingpage/img/LinkdIn.svg" alt="zoomcar-linkedIn"
                        data-src="../Landingpage/img/LinkdIn.660ed09532750dce008ff1d3543e3d0d.svg"></a>
            </div>
            <p>© Copyright 2017 Zoomcar India Private Ltd. All rights reserved.</p>
        </div>
    </div>
    </div>
    <div class="contentInc">
        <div class="content">
            <p>
            <h3>SELF DRIVE CARS IN MUMBAI</h3><span>The financial capital of India, Mumbai is a city which never sleeps.
                Buzzing with activity, it also holds the distinction of being the entertainment hub of the country. With a
                beach
                in its backyard and the picturesque Western Ghats a stone’s throw away, the city attracts visitors from all
                over
                the word. From the Gateway of India which opens the doors to India’s mysteries, to the ancient caves of
                Elephanta Island, and from the iconic Stock Exchange to the many studios where Bollywood movies are made,
                the
                city offers a multitude of sights and experiences.<br>The downside of life in Mumbai is the difficulty
                commuting
                poses. Overloaded public transport and increasing distances add to the stress of living in Mumbai. Whether
                you
                are a visitor to this melting-pot of cultures, or a resident of the city, it is important to have a
                <b>self-drive car</b> at your disposal to make the most of your time. If you do not plan to buy a car of
                your
                own, Zoomcar offers the perfect solution by making the process of <b>self-drive car</b> booking in Mumbai
                convenient and affordable. The Zoomcar app allows you the freedom of booking a <b>self drive car</b> at your
                fingertips.</span><br>
            <h3>CAR ON RENT IN MUMBAI</h3><span>On many occasions, working professionals and business persons want to
                commute to different parts of the city in the same day. Usually, they hire a chauffeur driven car and pay
                extra
                for the waiting charges. This option, while popular, is also more expensive. It is more economical to opt
                for
                a
                <b>self-drive car rental in Mumbai</b>. You can spend any amount of time at a meeting without having to
                worry
                about the waiting charges, and use the car to explore Mumbai after work at your leisure. Zoomcar also
                provides
                <a href="https://www.zoomcar.com/mumbai/airport-taxi-service">Mumbai airport taxi</a> service, using which
                you
                can pick up one of our cars right at the airport when you land. We have a variety of <b>self drive cars</b>
                in
                our fleet including luxury brands which makes it easier to book luxury <b>self drive cars on rent in
                    Mumbai</b>.</span>
            <h3>CAR RENTAL IN MUMBAI</h3><span>An ideal way to relax after a stressful week at the office is to go on a
                long drive from <a href="https://www.zoomcar.com/car-rentals/mumbai-pune-cab-services">Mumbai to Pune</a> or
                from <a href="https://www.zoomcar.com/car-rentals/mumbai-pune-cab-services">Mumbai to Nasik</a>. Enjoy the
                drive
                on the wide 6-lane Mumbai – Pune expressway with your loved ones by taking a <b>self drive car on hire
                </b>in
                Mumbai. There are many religious sites, parks, and museums in Nasik which makes it an ideal location to
                unwind.</span>
            <h3>ABOUT ZOOMCAR</h3><span>No more worries about petrol mileage, insurance, and car breakdowns! Zoomcar has
                enabled driving convenience for travellers around the country and is fast expanding its reach to cities
                including Ahmedabad, Bangalore, Chandigarh, Chennai, Coimbatore, Delhi-NCR, Hyderabad, Jaipur, Kochi,
                Kolkata,
                Ludhiana, Mangalore, Mumbai, Mysore, Pune, Siliguri, Vizag, Nagpur, Udaipur, Vijayawada, Surat, Lucknow and
                Guwahati.<br><b>Self drive cars</b> from Zoomcar have given customers more control, privacy, and freedom.
                Book
                a
                <b>self drive car</b> in any city you visit with the Zoomcar app on your phone and feel at home wherever you
                go.</span>
            <p></p>
        </div>
    </div>
    </div>
    
    
</body>
</html>

<script src="Offers.js"></script>