body {
  margin: 0%;
  padding: 0%;
  overflow-y: hidden;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif !important;
}
#home {
  margin: 0%;
  padding: 0%;
}

/* Naviation Bar */
#home #navbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 70px;
  background-color: rgb(51, 65, 79);
  justify-content: left;
  position: fixed;
  z-index: 1000;
}
/* Naviation Bar: Logo,texting and Image */
#home #logo {
  margin: 0 20px;
}
#home #logo img {
  width: 120px;
  height: 90px;
  border: none;
  margin: 0 20px;
}

#home #navbar #nav_ul {
  display: flex;
  justify-content: center;
  margin-left: 34vw;
  height: 100%;
  position: relative;
}
#home #navbar #nav_ul li {
  list-style: none;
  font-size: 17px;
  margin: 5px 11px;
}
#home #navbar #nav_ul li a {
  display: block;
  border-radius: 20px;
  text-decoration: none;
  color: aliceblue;
  margin: 15px 0;
  float: right;
}
.fa-caret-down {
  margin-left: 8px;
  cursor: pointer;
}

#dropdown_5 {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 160px;
  padding: 0px 0 0 0;
  margin-top: 1px;
  display: none;
  background-color: white;
}

.drop_d_box_user_hide {
  display: none;
}

#dropdown_5 .drop_d_links button {
  width: 100%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  background: none;
  cursor: pointer;
}
.last_bttn button {
  border: none;
}
#dropdown_5 .drop_d_links button:hover {
  /* font-size: 14px; */
  background-color: yellowgreen;
}
.arrowmiddle55 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 130px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}
.us_name {
  margin-top: 20px;
  display: flex;
  color: white;
}
#avtar_logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 0px;
}
/*Hover Effect on navbar-SUBSCRIBE */
.subscr-logo1 {
  background-image: url(./img/sub_logo.png);
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 30px;
  margin: auto;
}
.subscr_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 260px;
  padding: 10px;
  top: 70%;
  border-radius: 4px;
  right: 335px;
  text-align: center;
  align-items: center;
}
#sub_det_item .arrowmiddle {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 200px;
  top: 43px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
#sub_det_item {
  display: none;
}

.subscr_logo {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.subscr_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.subscr_btn {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(88, 180, 85);
  border: none;
  font-size: 12px;
  padding: 7px;
  color: white;
  text-align: center;
}
#navbar .item:hover > .details {
  display: block;
}

/*Hover Effect on navbar-AMIGO */
.amigo-logo2 {
  background-image: url(./img/amigo_logo.png);
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  margin: auto;
}
.amigo_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 260px;
  padding: 10px;
  top: 70%;
  border-radius: 4px;
  right: 200px;
  text-align: center;
  align-items: center;
}
.amigo_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.arrowmiddle2 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 300px;
  top: 43px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.details2 {
  display: none;
}
#navbar .item:hover > .details2 {
  display: block;
}

/*Hover Effect on navbar-ZMS */
.zms-logo3 {
  background-image: url(./img/zms_logo.png);
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 30px;
  margin: 2px auto;
}
.zms_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 230px;
  padding: 10px;
  top: 70%;
  border-radius: 4px;
  right: 150px;
  text-align: center;
  align-items: center;
}
.zms_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.arrowmiddle3 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 360px;
  top: 45px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.details3 {
  display: none;
}
#navbar .item:hover > .details3 {
  display: block;
}

/*Hover Effect on navbar-MOB APP */
.details4 {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 170px;
  height: 90px;
  top: 70%;
  border-radius: 4px;
  right: 110px;
  text-align: center;
  align-items: center;
}
.mob_det {
  display: none;
}
#navbar .item:hover > .mob_det {
  display: block;
}
.arrowmiddle4 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 450px;
  top: 43px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.mob_anc {
  width: 100%;
  height: 50%;
  font-size: 18px;
}
.mob_anc .mob1,
.mob_anc .mob2 {
  display: flex;
  color: rgb(83, 83, 83);
  margin: 0%;
  box-sizing: border-box;
}

.mob_anc .mob2 {
  border-top: 1px solid rgb(161, 160, 160);
  display: flex;
  position: absolute;
  top: 55%;
  width: 100%;
  padding: 3px 0px 0 0;
}
.mob1 img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 8px;
}
.mob2 img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  margin-left: 5px;
}

/* ---------main-data(excpet Nav bar)-------- */
.main-data {
  display: flex;
  width: 100%;
  /* margin-top: 1vh; */
  padding: 50px 0px;
  font-family: "Poppins", sans-serif;
}

#left-data {
  padding-left: 35px;
  width: 25%;
  padding-top: 50px;
  box-shadow: rgb(0 0 0 / 40%) 0px -11px 21px -6px;
  height: 83.7vh;
}

#user {
  display: flex;
  margin-bottom: 50px;
}

#user img {
  margin-right: 25px;
  border-radius: 50%;
}

#user p {
  font-size: 20px;
  margin-top: 10px;
  word-spacing: 2px;
  font-weight: 700;
}

#user-edits {
  text-align: left;
}

#user-edits ul {
  padding: 0px;
}

#user-edits ul li {
  list-style: none;
  padding: 15px 0px;
  display: flex;
  width: 90%;
  cursor: pointer;
}

ul li:nth-child(2) {
  color: rgb(255, 58, 58);
}

#user-edits ul li:hover {
  opacity: 0.5;
}

#user-edits ul li div {
  width: 50%;
}

#user-edits ul li div:nth-child(2) {
  width: 90%;
  text-align: right;
}

#right-data {
  width: 70%;
  padding: 0px 2.5%;
  margin-left: 20px;
}

#right-data p {
  margin-top: 50px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
}

.user-profile-form {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 60px;
}

.user-profile-form > div {
  text-align: left !important;
}

.user-profile-form input {
  border: none;
  font-size: 17px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(151, 151, 151);
  margin-top: 10px;
  width: 90%;
}

.user-profile-form input:focus {
  outline: none;
  border-bottom: 2px solid rgb(255, 58, 58);
}

#user-profile-button button {
  padding: 5px 30px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: 0px 10px;
  width: 130px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: inline;
}

#save {
  background-image: linear-gradient(
    101deg,
    rgb(247, 69, 48),
    rgb(255, 46, 115)
  );
  color: white;
}
input,
button {
  outline: none;
}
