body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

#modalbox {
  background-color: #f9f9f9;
}
#citypopuptitle {
  width: 100%;
  /* border: 2px solid red; */
  padding: 1%;
}
#citypopuptitle > p {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}
#citypopuptitle > input {
  margin-left: 0;
  border: 0px;
  background-color: #f9f9f9;
  border-bottom: 0.25px solid lightgray;
  margin-top: 1.15%;
  display: flex;
  justify-content: center;
  justify-items: center;
  /* width: 30%; */
}
#citypopuptitle > span {
  margin-left: 40.5%;
  /* margin-right: 41.5%; */
  margin-top: 1%;
  font-weight: lighter !important;
  font-size: 20px;
  /* justify-content: center; */
  /* justify-items: center; */
  border-bottom: 0.25px solid lightgray;
  color: gray;
  /* display: flex; */
  float: left;
}

#popularcitiestitle {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}
.left-margin {
  margin-left: 8%;
  margin-right: 6%;
}
#popularcitieslist {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: repeat(9, 8.4%);
  /* grid-template-rows: 100%; */
  grid-gap: 3%;
}
.deselectedpopularcities {
  background-color: white;
  padding: 3%;
  border: 0.15px solid gray;
  color: black;
  font-size: 14px;
  opacity: 0.54;
}
.selectedpopularcities {
  background-color: white;
  padding: 3%;
  border: 1.5px solid #70ad4d;
  color: #70ad4d;
  font-size: 16px;
  opacity: 0.54;
}
.deselectedothercities {
  border: 0px solid gray;
  color: black;
  font-size: 14px;
  opacity: 0.54;
}
.selectedothercities {
  border: 1.5px solid #70ad4d !important;
  color: #70ad4d;
  font-size: 16px;
  opacity: 0.54;
}

#popularcitieslist > button > img {
  width: auto;
  height: 40px;
}

#othercitieslist {
  /* border: 1px solid black; */
  margin-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* display: flex; */
  margin-left: 5.5% !important;
}

#othercitieslist > button {
  border: 0px solid rgb(151, 147, 147);
  background-color: #f9f9f9;
  margin-left: 2.7%;
  padding: 0.25%;
  margin-top: 1%;
}
input,
button {
  outline: none;
}
#warning {
  text-align: right;
  margin-right: 1%;
  margin-bottom: 3%;
  color: red;
}
