<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Selection Popup</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="CityPopup.css">
    <link rel="icon" href="https://assets.zoomcar.com/assets/favicon-94c70086866938b66cbd6706cfb6e048.png"
    type="image/x-icon">

</head>

<body>
    <div id="modalouter">
        <div id="modalbox">
            <br>
            <div id="citypopuptitle">
                <p>SELECT YOUR CITY</p>
                <span class="material-icons-outlined">search</span>
                <input type="text"  id="inputcity" placeholder="Search City">
            </div>
            <br>
            <div id="popularcitiesdiv">
                <div id="popularcitiestitle" class="left-margin">
                    Popular Cities
                </div>
                <br>
                <div id="popularcitieslist" class="left-margin">
                    <!-- <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/2c335cd7b3bea26f8ee2e399572e7b1bab86a921.png?1497538647" alt="">
                        <p>Chandigarh</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/ec01720d5e98455a7607a3c18d6c3804e65f9299.png?1497538617" alt="">
                        <p>Hyderabad</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/f00bd521d24e52b5ca9a2a3b8bb2ebf49df9e933.png?1497538418" alt="">
                        <p>Bangalore</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/1bd598da24dd1adf40782943d749b4ae985898d5.png?1497538676" alt="">
                        <p>Kolkata</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/e1abfe1b888a392ff8cc7ac4b19be66026bc4d0e.png?1497538549" alt="">
                        <p>Mumbai</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/5b9f025a2b89481a148d60ecec80f6f465491815.png?1497538509" alt="">
                        <p>Delhi NCR</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/72146518feb0424f786d36533dbacb4eaa22ea82.png?1497538586" alt="">
                        <p>Chennai</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/73152f43661d0e17c9c544bb5d69da80d62c7abc.png?1497538181" alt="">
                        <p>Vadodara</p>
                    </button>
                    <button>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/c198e0443ff4edf7f90a8d84dd6cf922de4f13eb.png?1497538483" alt="">
                        <p>Pune</p>
                    </button> -->
                </div>
            </div>
            <br> <br>
            <div id="othercitiesdiv">
                <div  id="popularcitiestitle" class="left-margin">
                    Other Cities
                </div>
                <!-- <br> -->
                <div id="othercitieslist" class="left-margin"></div>
            </div>
            
        </div>
    </div>
    

</body>

</html>

<script src="CityPopup.js"></script>