* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
body {
  width: 100%;
  height: 100%;
}
#detailsandfilterdiv {
  width: 27.5%;
  min-height: 200vh;
  height: 100%;
  background-color: #efefef;
  float: left;
  /* border: 2px solid violet; */
  margin-top: 5%;
}
#cardetaildiv {
  background-color: #f7f7f7;
  min-height: 200vh;
  width: 72.5%;
  height: 100%;
  float: left;
  /* border: 2px solid green; */
  margin-top: 5%;
}
#pickuplocationdiv {
  width: 100%;
  height: 35vh;
  /* border: 2px solid black; */
}
#startendtimediv {
  width: 100%;
  height: 25vh;
  /* border: 2px solid red; */
  border-bottom: 0.5px solid grey;
}
#pickuplocationtitle {
  padding: 3%;
  /* border: 2px solid red; */
  height: 20%;
}
.green-background {
  background-color: #70ad4d;
  border-radius: 50px;
  color: white;
  font-size: medium;
  float: left;
  margin-left: 10%;
}
#pickuplocationtitle > p {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.54;
  margin-left: 18%;
}
#pickuppoint > p,
#pickuppoint ~ div > div > p,
#picktimedetails > div,
#droptimedetails > div {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.54;
  padding-top: 2%;
}
#pickuppoint > p + p {
  /* font-weight: 0; */
  font-size: 12px;
  opacity: 0.9;
  padding-top: 2%;
}
#pickuplocationaddress {
  width: 80%;
  margin: auto;
  /* border: 1px solid purple; */
  background-color: white;
  height: 80%;
}
#picktimedetails,
#droptimedetails {
  width: 40%;
  margin: auto;
  min-height: 50%;
  margin-top: 2%;
  background-color: white;
  float: left;
  margin-left: 10%;
  padding: 2%;
  padding-left: 5%;
}
#droptimedetails {
  margin-left: 0;
  border-left: 1px solid lightgrey;
}
#pickuppoint {
  height: 40%;
  border-bottom: 0.5px solid lightgrey;
  padding-left: 5%;
  /* padding-top: 2%; */
}
#pickuppoint ~ div {
  height: 30%;
  border-bottom: 0.5px solid lightgrey;
  padding-left: 3%;
  /* padding-top: 2%; */
}
#pickuppoint ~ div > img {
  margin-top: 5%;
  float: left;
}
#pickuppoint ~ div > div > p + p {
  padding: 0;
  margin-left: 4%;
  float: left;
}
#pickuppoint ~ div > div > p {
  /* padding: 0; */
  margin-left: 6%;
  float: left;
}
#pickuppoint ~ div > span {
  margin-left: 3%;
  opacity: 0.54;
  font-size: 12px;
  font-weight: 600;
}
#pickuppoint + div + div {
  padding-top: 4%;
}
#startdatedisplay,
#enddatedisplay {
  font-size: xx-large !important;
  float: left;
}
#startmonthdisplay,
#endmonthdisplay,
#starttimedisplay,
#endtimedisplay {
  /* float: left; */
  font-size: 12px;
  opacity: 0.54;
  margin-top: 2%;
  margin-left: 35%;
  /* font-weight: 600; */
}
#startmonthdisplay,
#endmonthdisplay {
  /* float: left; */
  margin-top: 5%;
}
#kmspackagetitle {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.54;
  margin-left: 10%;
}
#free100kms {
  height: 50%;
  width: 27%;
  background-color: white;
  margin-left: 9.5%;
  float: left;
  border-right: 1px solid lightgrey;
  border-radius: 3px;
  text-align: center;
  padding-top: 3%;
  cursor: pointer;
}
#free200kms {
  height: 50%;
  width: 27%;
  background-color: white;
  /* margin-left: 9.5%; */
  float: left;
  border-right: 1px solid lightgrey;
  border-radius: 3px;
  text-align: center;
  padding-top: 3%;
  cursor: pointer;
}
#free300kms {
  height: 50%;
  width: 27%;
  background-color: white;
  margin-right: 9.5%;
  float: left;
  /* border-right: 1px solid grey; */
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  padding-top: 3%;
}
#free100kms > div,
#free200kms > div,
#free300kms > div {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.54;
  padding-top: 2%;
}
#free100kms > p,
#free200kms > p,
#free300kms > p {
  /* margin-left: 3%; */
  opacity: 1;
  font-size: 12px;
  font-weight: 600;
}
#cartypediv {
  width: 100%;
  height: 20vh;
  /* border: 1px solid red; */
}
#hatchbacktype,
#sedantype,
#suvtype,
#luxurytype {
  height: 45%;
  width: 20%;
  /* margin-left: 10%; */
  float: left;
  background-color: white;
  border: 1px solid lightgrey;
  text-align: center;
  /* border-radius: 3px; */
  cursor: pointer;
}
#hatchbacktype {
  margin-left: 10%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#hatchbacktype > img,
#sedantype > img,
#luxurytype > img,
#suvtype > img {
  width: 70%;
  /* margin-left: 1%; */
  opacity: 0.54;
  height: 80%;
}
#luxurytype {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#hatchbacktype > p,
#sedantype > p,
#luxurytype > p,
#suvtype > p {
  font-size: 12px;
  font-weight: 600px;
  opacity: 0.54;
  margin-top: -20%;
}
#transmissiontypediv {
  width: 100%;
  height: 25vh;
}
#automatictype,
#manualtype {
  height: 45%;
  width: 40%;
  float: left;
  background-color: white;
  border: 1px solid lightgrey;
  text-align: center;
  padding: 3%;
  cursor: pointer;
}
#automatictype {
  margin-left: 10%;
}
#automatictype > img,
#manualtype > img {
  width: 30%;
  height: 70%;
  opacity: 0.54;
}
#automatictype > p,
#manualtype > p {
  font-size: 12px;
  font-weight: 600px;
  opacity: 0.54;
}
#lightningdiv {
  background-color: #e4f1dc;
  width: 100%;
  height: 5%;
  /* text-align: center; */
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #323a44;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sortfeaturediv {
  width: 100%;
  height: 4%;
  background-color: #e6e6e6;
  padding: 10px 20px;
  display: flex;
}
#sortfeaturediv > p {
  font-size: 14px;
  color: #323a44;
}
#sortfeaturediv > div {
  display: inline-block;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: 3px 10px;
  font-size: 11px;
  color: #9b9b9b;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}
#fuelcontentdiv {
  width: 100%;
  height: 10%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  /* border: 2px solid red; */
}
#withoutfuelcontainer {
  width: 18%;
  height: 35%;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* border-radius: 5px; */
  background-color: #70ad4d;
  color: white;
  cursor: pointer;
}
#withfuelcontainer {
  width: 18%;
  height: 35%;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-radius: 5px; */
  cursor: pointer;
}
#withoutfuelcontainer > p,
#withfuelcontainer > p {
  font-weight: 600;
  font-size: 12px;
}
#withoutfuelcontainer > p + p,
#withfuelcontainer > p + P {
  font-weight: 600;
  font-size: 10px;
}
#withfuelcontainer > p {
  text-align: right;
}
#carlistdiv {
  background-color: #f7f7f7;
  padding: 0px 10px;
  margin-top: -1%;
}
.carnamestyling {
  color: #33414f;
  font-size: 19px;
  font-weight: 500;
  margin: 0px 0 10px 20px;
  /* font-family: "Open Sans"; */
}
.cardetailimagestyling {
  height: 20px;
  width: 20px;
  margin-left: 10%;
  opacity: 0.54;
}
.cardetailstyling {
  font-size: 12px;
  margin-left: 1%;
  opacity: 0.54;
}
.pickuplocationstyling {
  color: #33414f;
  font-size: 14px;
  font-weight: 600;
  /* margin: 0px 0 10px 20px; */
  padding: 20px 20px 0px;
  opacity: 0.6;
}
.pricedisplaydiv {
  width: 20%;
  height: 100%;
  /* border: 2px solid red; */
  border-left: 1px solid lightgrey;
  text-align: center;
  /* padding: 14px 10px 16px 8px; */
}
.rupeespan {
  font-size: 14px;
  color: #70ad4d;
  font-weight: 600;
  /* margin-top: -100%; */
  /* float: left; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}
.costspan {
  font-size: 30px;
  color: #70ad4d;
  font-weight: 600;
  /* float: left; */
}
.excesscostspan {
  clear: both;
  opacity: 0.54;
  font-size: 12px;
  color: black;
  font-weight: 500;
}
.booknowbutton {
  width: 112px;
  height: 32px;
  margin: auto;
  margin-top: 20px;
  padding: 6px 10px;
  background-color: #70ad4d;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}
.door-delivery-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 75%;
  margin-top: -10%;
  clear: both;
}

.door-delivery-toggle input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #70ad4d;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #70ad4d;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}
/* #pickuppoint + div {
  display: flex;
  flex-direction: row; 
}*/
input,
button {
  outline: none;
}
.left-float {
  float: left;
}
